* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#canvas {
	border: 1px solid #000;
}

.viewport {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: #000;
	position: relative;
}

.menu {
	position: absolute;
	background: #2AAA8A;
	width: 300px;
	height: 200px;
  padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
  color: #fff;
}

.score,
.level {
  width: 100%;
	font-size: 24px;
	font-weight: bold;
  text-align: center;
}

.level__select {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.level__value{
  font-size: 18px;
  background: #00A36C;
  padding: 10px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}